// default neutral colors
$neutral-000: #f5f7fa;
$neutral-100: #e4e7eb;
$neutral-200: #cbd2d9;
$neutral-300: #9aa5b1;
$neutral-400: #7b8794;
$neutral-500: #616e7c;
$neutral-600: #52606d;
$neutral-700: #3e4c59;
$neutral-800: #323f4b;
$neutral-900: #1f2933;
