// focus outline
@mixin outline {
  outline: 2px dotted #000;
  outline-width: 2px;
  outline-style: dotted;
  outline-color: #000;
  outline-offset: 3px;
  box-shadow: 0 0 0 2px #fff;
}

* > :focus {
  @include outline;
}
